/* This file is for your main application css. */

img {max-width:100%;}

.error {
  color: red;
}

.error > .field > .name {
  font-weight: bold;
}

.login .username-input input {
  margin-right: 10px;
}

.debug {
  margin-bottom: 10px;
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: #dddddd;
  background-color: #eeeeee;
  padding: 5px;
  font-size: 16px;
}

.debug > h4 {
  margin-top: 0px;
  font-style: italic;
  font-size: inherit;
}

.debug > h4 > button {
  display: inline-block;
  padding: 0px 5px 0px 5px; /* Padding por defecto */
  text-align: center;
  vertical-align: middle;

  height: 20px;

  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  box-sizing: border-box; /* <- added this */
}

.scrollable-list {
  border: 2px solid;
  padding: 0px;
  list-style: none;
  overflow-y: scroll;
}

.scrollable-list li {
  padding: 1px 5px;
}

.scrollable-list li:hover {
  background-color: #dddddd;
}

.scrollable-list li.active {
  background-color: #ff2020;
}

.player-list {
  width: 300px;
  height: 400px;
}

.my-container {
  display: flex;
  justify-content: space-between;
}

.my-column {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.board .castle {
  max-width: 100px;
  margin: 0px 10px;
}

.player-base .army.editable .unit {
  background-color: #eeeeee;
}

.game .status {
  text-align: center;
  font-size: 2em;
  color: red;
}

.board .player-base .header {
  font-weight: bold;
}

.board .player-base .name {
  font-style: italic;
  font-size: 2em;
  margin-bottom: 10px;
}

.board .player-base .name p {
  margin-bottom: 0px;
}

.battle-ground {
  align-content: flex-start;
}

.board .player-base .main {
  display: flex;
  justify-content: center;
}

.army.not-shown .unit {
  background-color: inherit;
}

.army .unit {
  position: relative;
  overflow: hidden;
}

.army .unit.dead {
  background: rgba(255, 0, 0, 0.5);
}

.army .unit .killed-overlay {
  position: absolute;
  top: 0px;
  width: 50px;
  height: 50px;
  margin: 0px;
  line-height: 50px;
}

.killed-overlay:before, .killed-overlay:after {
  position: absolute;
  left: 23px;
  top: -11px;
  content: ' ';
  height: 72px;
  width: 5px;
  background-color: #ff0000;
}
.killed-overlay:before {
  transform: rotate(45deg);
}
.killed-overlay:after {
  transform: rotate(-45deg);
}


.army .unit img {
  position: relative;
}

.unit-picker {
  padding: 5px;
  border: 3px solid gray;
  background: radial-gradient(#ffffff, #ffffff, #aaaaaa);
}

.unit-picker .unit {
  border: 1px solid #aaaaaa;
}

.unit-picker p {
  font-size: 1.2em;
  font-weight: bold;
}

.unit-picker .unit {
  margin: 5px auto;
  max-width: 50px;
}

.unit-picker.not-shown {
  border: 3px solid rgba(0,0,0,0.0);
  background: none;
}

.unit-picker.not-shown .unit {
  border: 1px solid rgba(0,0,0,0.0);
}

.unit-picker.not-shown p {
  visibility: hidden;
}

.game .controls {
  margin-bottom: 10px;
}

div.right .my-container {
  flex-flow: row-reverse;
}

div.right .align {
  text-align: right;
}

div.left .align {
  text-align: left;
}

div.right img {
  transform: scaleX(-1);
}

div.right .no-mirror img {
  transform: none;
}

.army.not-shown img {
  visibility: hidden;
}

.game .controls {
  display: flex;
  justify-content: center;
}

button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.game .player-base {
  padding: 10px 10px;
  max-height: 100%;
}
