/* This file is for your main application css. */

img {max-width:100%;}

.error {
  color: red;
}

.error > .field > .name {
  font-weight: bold;
}

.login .username-input input {
  margin-right: 10px;
}

.debug {
  margin-bottom: 10px;
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: #dddddd;
  background-color: #eeeeee;
  padding: 5px;
  font-size: 16px;
}

.debug > h4 {
  margin-top: 0px;
  font-style: italic;
  font-size: inherit;
}

.debug > h4 > button {
  display: inline-block;
  padding: 0px 5px 0px 5px; /* Padding por defecto */
  text-align: center;
  vertical-align: middle;

  height: 20px;

  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  box-sizing: border-box; /* <- added this */
}

.scrollable-list {
  border: 2px solid;
  padding: 0px;
  list-style: none;
  overflow-y: scroll;
}

.scrollable-list li {
  padding: 1px 5px;
}

.scrollable-list li:hover {
  background-color: #dddddd;
}

.scrollable-list li.active {
  background-color: #ff2020;
}

.player-list {
  width: 300px;
  height: 400px;
}

.my-container {
  display: flex;
  justify-content: space-between;
}

.my-column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.board .castle {
  max-width: 100px;
  margin: 0px 10px;
}

.game .status {
  text-align: center;
  font-size: 2em;
  color: red;
}

.board .player-base .name {
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
}

.battle-ground {
  align-content: flex-start;
}

.board .player-base > div {
  display: flex;
}

.army .unit {
  background-color: #eeeeee;
}

.army.not-shown .unit {
  background-color: inherit;
}

.unit-picker {
  padding: 5px;
  border: 3px solid red;
}

.unit-picker p {
  font-size: 1.2em;
  font-weight: bold;
}

.unit-picker .unit {
  margin: 5px auto;
  max-width: 50px;
}

div.right .my-container {
  flex-flow: row-reverse;
}

div.right .align {
  text-align: right;
}

div.left .align {
  text-align: left;
}

div.right img {
  transform: scaleX(-1);
}

div.right .no-mirror img {
  transform: none;
}

.army.not-shown img {
  visibility: hidden;
}

.unit-picker.not-shown {
    border: 0px;
}

.unit-picker.not-shown p {
  visibility: hidden;
}
